body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #F6F6F6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}
.cards-column{
    padding: 0;
    justify-content: center;
    flex-direction: column;
    border-radius: 12px;
}
.card_title{
    font-size: 16px;
}
.card{
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin: 10px 0;
    max-width: 400px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    background-color: #FFFFFF;
    padding: 20px;
}
.fav-posts_table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    background: #b6afa2;
    margin-top: 10px;
    border-radius: 6px;
}
.fav_text{
    color: #FFFFFF;
}
.lower-case{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 0 10px 0;
}
.cat-paw{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 220px;
    justify-content: center;
}
.load-next{
    font-size: 17px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-bottom: 40px;
    padding: 15px 0;
    background: #4caf50;
    width: 100%;
    max-width: 400px;
}
@media screen and (min-width: 1024px){
    .fav-posts_table{
        position: fixed;
        right: 0;
        width: 30%;
        top: 0;
    }
}